<template>
    <div class="main">
            <div class="header">
        <div class="header-top">
            <div class="logo">
                <router-link v-bind:to="'/'"><img src="../assets/images/logo.png" alt=""></router-link>
            </div>
            <div class="container">
                <div class="head-top">
                    <div class=" h_menu4">
                        <ul class="memenu skyblue">
                           
                            <li v-if="User == null">
                                <router-link v-bind:to="'/login'">Авторизація</router-link>
                            </li>
                            <li v-if="User == null">
                                <router-link v-bind:to="'/register'">Реєстрація</router-link>
                            </li>
                            <li @click="logaut()" v-else>
                                <router-link v-bind:to="'/'">Вихід</router-link>
                            </li>                          
                            <li v-if="User !== null">
                                <div class="cart box_1">
                                    <router-link v-bind:to="'/checkout'">
                                    <div id="app">
                                        <h3>
                                            <div class="total">
                                                <span class="simpleCart_total" v-if="LenghtCart == 1"> ({{LenghtCart}} товар)</span>
                                                <span class="simpleCart_total" v-else> ({{LenghtCart}} товару)</span></div>
                                            <img src="../assets/images/cart.png" alt="" />
                                        </h3>
                                    </div>
                                    </router-link>
                                    <p><a href="#" v-on:click="clear()" class="simpleCart_empty">Очистити корзину</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
        <div class="content">
            <router-view></router-view>
        </div>
        <div class="content-bottom">
            <ul>
                <li><img class="img-responsive" src="../assets/images/lo.png" alt=""></li>
                <li><img class="img-responsive" src="../assets/images/lo1.png" alt=""></li>
                <li><img class="img-responsive" src="../assets/images/lo2.png" alt=""></li>
                <li><img class="img-responsive" src="../assets/images/lo3.png" alt=""></li>
                <li><img class="img-responsive" src="../assets/images/lo4.png" alt=""></li>
                <li><img class="img-responsive" src="../assets/images/lo5.png" alt=""></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-top-at">

                    <div class="col-md-4 amet-sed">
                        <h4>Графік роботи:</h4>
                        <ul class="nav-bottom">
                            <li><a href="#">Пн-Пт: 9:00-18:00</a></li>
                            <li><a href="#">Сб: 9:00-16:00</a></li>
                            <li><a href="#">Нд: вихідний</a></li>

                        </ul>
                    </div>
                    <div class="col-md-4 amet-sed ">
                        <h4>Контакти:</h4>
                        <p>Number: +380500148358</p>
                        <p>Viber: +380661234563</p>
                        <p>Email:sportmax@ukr.net</p>
                    </div>

                    <div class="col-md-4 amet-sed ">
                        <h4>Адреса:</h4>
                        <p>м. Запоріжжя</p>
                        <p>пр. Соборний 198</p>
                        <p>ООО: "SportMax"</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

    </div>

</template>

<style src="../assets/css/style.css"></style>

<style src="../assets/css/memenu.css"></style>

<style src="../assets/css/bootstrap.css"></style>

<script>
    import Vue from 'vue'

    export default {
    
        data: function() {
            return {

            };
        },
        methods: {
            clear: function(){
                this.$store.commit('deleteCart');
            },
            logaut: function(){
                this.$store.commit('deleteUser')
            }
        },
        computed: {
            User: function(){
                return this.$store.getters.getUser;
            },
            LenghtCart: function(){
                return this.$store.getters.LengthCart;
            }
        }
    }
</script>
