<template>
<body>
    <div class="container">
        <div class="check">
            <h1>Моя корзина</h1>
            <div class="col-md-9 cart-items">
                <div class="cart-header">
				    <div class="close2"> </div>
				    <div class="cart-sec simpleCart_shelfItem" v-for="(cartItem, index) in productsCart" v-bind:key="index">
						<div class="cart-item cyc">
							 <img v-bind:src="cartItem.tovar[0].src" class="img-responsive" alt=""/>
						</div>
					    <div class="cart-item-info">
                        <a v-on:click="deletetovar(cartItem.tovar[0]._id)"><img src="../assets/images/delete.png" alt="" class="deleteproduct"></a>
						    <h3>{{cartItem.tovar[0].name}}</h3>
                            <span>{{cartItem.tovar[0].price}}</span>
							<div class="delivery">
                                <div class="clearfix"></div> 
				            </div>	
					    </div>
					<div class="clearfix"></div>					
				  </div>
                </div>
            </div>
            <div class="col-md-3 cart-total">
                <router-link v-bind:to="'/'"><a class="continue">Продовжити покупки</a></router-link>
                <div class="price-details">
                    <h3>Price Details</h3>
                    <span>Всього</span>
                    <span class="total1">{{total}} грн</span>
                    <span>Витрати на доставку</span>
                    <span class="total1">100.00 грн</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price">
                        <h4>Всього</h4>
                    </li>
                    <li class="last_price"><span>{{total+100}} грн</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <router-link v-bind:to="'/zakaz'"><a class="order" href="#" @click="clear()">Зробити замовлення</a></router-link>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>
</template>

<script>
export default {
    data: function() {
        return {
      
        };
    },
    mounted: function() {

    },
    computed: {
        total: function() {
            let total = 0;
            this.productsCart.forEach(element => {
                total += Number(element.tovar[0].price.slice(0,-4)); 
            });
            return total;
            
        },
        productsCart: function(){
            return this.$store.getters.getCart;
        },
    },
    methods: {
        deletetovar: function(index){
            this.$store.commit('deletetovar', index);
        },
        clear: function(){
            this.$store.commit('deleteCart');
        },
    }
}
</script>