<template>
<body>
    <!--content-->
    <div class="container">
        <div class="account">
            <h1>Обліковий запис</h1>
            <div class="account-pass">
                <div class="col-md-12 account-top">
                    <form>

                        <div>
                            <span>Email</span>
                            <input type="text" v-model="email">
                        </div>
                        <div>
                            <span>Пароль</span>
                            <input type="password" v-model="password">
                        </div>
                        <input type="submit" value="Вхід" v-on:click="auth()">
                        <router-link v-bind:to="'/register'"><input type="submit1" value="Створити обліковий запис" class="register"></router-link>                 
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios);

export default {
    data: function(){
        return{
            email: '',
            password: '',
        }
    },
    methods: {
        auth(){
        Vue.axios.get("http://localhost:3000/Login/emailandpass/" + this.email +"&" + this.password).then((response) =>{
            if(response.data == null){
                alert("Невірний логін або пароль");
            }
            else{
                this.$store.commit('setUser',response.data);
                this.$router.push('/');
            }
         })
        }
    }
}
</script>
