<template>
<div>
    <div class="content">
        <div class="container">
            <div class="content-top">
                <h1>КАТЕГОРІЇ</h1>
                <div class="products">
                    <div class="categore" v-for="(item) in tasks" v-bind:key="item.id">
                        <div class="categore-image">
                        <div class="grid-in">
                            <div class="col-md-12 grid-top">
                                <router-link v-bind:to="'/product/' + item.categoryid" class="b-link-stripe b-animate-go  thickbox">
                                    <img v-bind:src="item.src" width="60">
                                    <div class="b-wrapper">
                                        <h3 class="b-animate b-from-left b-delay03 ">
                                            <span>{{item.name}}</span>
                                        </h3>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    Vue.use(VueAxios, axios)


    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: [],
                tasks: [],
            };
        },
        mounted: function(){
            Vue.axios.get("http://localhost:3000/tasks").then((response) =>{
            this.tasks = response.data;
         })
        },
        computed: {
            filteredItems: function() {
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        },
    }
</script>
<style>
.searchbar {
    margin-bottom: 10px
}
</style>



