<template>
      <div>
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">      
                <div class=" rsidebar span_1_of_left">
					<div class="of-left">
						<h3 class="cate">Категории</h3>
					</div>
                    <ul class="menu">
                        <li class="item1">
                            <ul class="cute">
                                <li v-for="(item) in tasks" v-bind:key="item.id" ><a class="subitem1" tag="li"  @click.prevent="chooseCategory(item.categoryid)">{{item.name}}</a></li>
                            </ul>
                        </li>

                    </ul>   
                </div>                
            </div>
            <div class="col-md-9 product1">
                <div id="product-bottom">

                    <div class="col-md-4 bottom-cd simpleCart_shelfItem"  v-for="(item) in Products" v-bind:key="item._id">
						<div class="product-at ">
							<router-link v-bind:to="'/single/' + item._id"><img class="img-responsive" v-bind:src="item.src" alt="">
							<div class="pro-grid">
										<span class="buy-in">Детальніше</span>
							</div>
						</router-link>	
						</div>
						<p class="tun">{{item.name}}</p>
						<a v-on:click="addItem(item._id)"  class="item_add"><p class="number item_price">{{item.price}}<img class="cart" src="26d0b76013f88cfab13564d34b549072.png" alt=""></p></a>						
					</div>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->

    </div>
</template>

<script>
    import products from '../data/products.js'
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    Vue.use(VueAxios, axios)

    export default {
        data: function() {
            return {
                search: '',
                Products: [],
                tasks: [],
            };
        },
        mounted: function() {
            Vue.axios.get("http://localhost:3000/tasks").then((response) =>{
                this.tasks = response.data;
            });
                Vue.axios.get("http://localhost:3000/Products").then((response) =>{
                    this.Products = response.data.filter(element => {
                        return element.id == this.$route.params.categoryid        
                    })
                });
        },
        methods: {
            chooseCategory: function(categoryid) {
                Vue.axios.get("http://localhost:3000/Products").then((response) =>{
                    this.Products = response.data.filter(element => {
                        return element.id == categoryid        
                    })
                });
            },
            addItem: function(index) {
                var Product = this.Products.filter(element => {
                    return element._id == index
                });
                this.$store.commit('setCart', Product);
            }
        }
    }
</script>
