<template>
<div>
    <!--content-->
    <div class=" container">
        <div class=" register">
            <h1>
                Реєстрація</h1>
            <form>
                <div class="col-md-6 register-top-grid">
                    <div>
                        <span>Ім'я</span>
                        <input type="text" v-model="Login.name">
                    </div>
                    <div>
                        <span>Фамілія</span>
                        <input type="text" v-model="Login.suname">
                    </div>
                    <div>
                        <span>По батькові</span>
                        <input type="text" v-model="Login.batko">
                    </div>
                    <div>
                        <span>Email</span>
                        <input type="text" v-model="Login.email">
                    </div>
                    <div>
                        <span>Місто</span>
                        <input type="text" v-model="Login.misto">
                    </div>
                    <div>
                        <span>Номер телефону</span>
                        <input type="text" v-model="Login.number">
                    </div>
                </div>
                <div class="col-md-6 register-bottom-grid">
                    <div>
                        <span>Пароль</span>
                        <input type="password" v-model="Login.password">
                    </div>
                    <div>
                        <span>Повторіть пароль</span>
                        <input type="password" v-model="Login.topassword">
                    </div>
                    <input type="submit" value="Зареєструватися" v-on:click="add()">
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    Vue.use(VueAxios, axios)


    export default {
        data: function () {
            return {
                name: '',
                suname: '',
                batko: '',
                email: '',
                password: '',
                topassword: '',
                misto: '',
                number: '',
                Login: [{name: '',suname: '',batko: '',email: '',password: '',topassword: '',misto: '',number: ''}],
            };
        },
        methods: {
        add: function(){
        Vue.axios.get("http://localhost:3000/Login/email/" + this.Login.email).then((response) =>{
            console.log(response)
            if(response.data == null){
                    console.log(response.data)
                    let items = {
                        "name": this.Login.name,
                        "suname": this.Login.suname,
                        "batko": this.Login.batko,
                        "email": this.Login.email,
                        "password": this.Login.password,
                        "topassword": this.Login.topassword,
                        "misto": this.Login.misto,
                        "number": this.Login.number,
                    };
                    Vue.axios.post("http://localhost:3000/Login", items)
                    this.$router.push('/login'); 
                }
                else{
                    alert('Користувач з таким email вже є');
            }
         })
        },
    }
}
</script>
