<template>
<div>
    <div class="product">
        <div class="container">                                                                                                                                        
            <div class="col-md-5 single-top">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="products.src">
                            <img :src="products.src" width="290px" height="400px" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in simpleCart_shelfItem">
                <div class="single-para ">
                    <h4>{{products.name}}</h4>
                    <h5 class="item_price">{{products.price}}</h5>
                    <p v-html="products.opys"></p>

                    <a v-on:click="addItem(products._id)" class="add-cart item_add">Додати в кошик<img class="cart" src="26d0b76013f88cfab13564d34b549072.png" alt=""></a>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'

    Vue.use(VueAxios, axios)

    export default {
    
        data: function() {
            return {
                products: [],
                Products: [],
            };
        },
        mounted: function() {
            Vue.axios.get("http://localhost:3000/Products").then((response) =>{
             this.products = response.data.find((element) => {
                
                 return this.$route.params.id === element._id;
            });
            })
            Vue.axios.get("http://localhost:3000/Products").then((response) =>{
                this.Products = response.data;
            });
        },
        methods: {
            addItem: function(index) {
                var Product = this.Products.filter(element => {
                    return element._id == index
                });
                this.$store.commit('setCart', Product);
            }
        }
    }
</script>


